@using Taxi_MVC.Models;
@{
    Layout = null;
}
@{ 
    var getVoznje = new Func<Dictionary<string, Voznja>>(() = > (Dictionary<string, Voznja>)Session["Voznje"]);
}

<div>
    <a href="/Taxi/Logout">Logout</a>
    <a href="/Taxi/IzmenaVozac">Izmenite profil</a>
    <a href="/Taxi/PromeniLokaciju">Promena lokacije</a>
    <a href="/Taxi/GoToPromenaStatusaVoznje">Promenite status trenutne voznje</a>
    <a href="/Taxi/GoToProveraVoznjiVozac">Lista voznji na cekanju</a>
</div>

<h2>Dobrodosli, @(((Korisnik)Session["Ulogovan"]).Ime @(((Korisnik)Session["Ulogovan"]).Prezime </h2>

@if(ViewBag.broj != 0)
{
    <table border="1">
        <caption>Prikaz voznji</caption>
        <tr>
            <th>
                Ulica
            </th>
            <th>
                Broj
            </th>
            <th>
                Vreme porudzbine
            </th>
            <th>
                Status
            </th>
        </tr>
        @foreach(KeyValuePair<string,Voznja> kv in getVoznje())
        {
            try
            {
                if(kv.Value.Vozac.KorisnickoIme.Equals((((Korisnik)Session["Ulogovan"]).KorisnickoIme)))
                {
                    <tr>
                        <td>
                            @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Ulica
                        </td>
                        <td>
                            @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Broj
                        </td>
                        <td>
                            @kv.Key
                        </td>
                        <td>
                            @kv.Value.StatusVoznje
                        </td>
                    </tr>
                }
            }
            catch
            {

            }
        }
    </table>
}

