@using Taxi_MVC.Models;
@{
    Layout = null;
}
@{ 
    var getVoznje = new Func<Dictionary<string, Voznja>>(() => (Dictionary<string, Voznja>)Session["Voznje"]);
}

<div>
    <a href="/Taxi/Odjava">Logout</a>
    &nbsp;
    <a href="/Taxi/IzmenaAdmin">Izmenite profil</a>
    &nbsp;
    <a href="/Taxi/PretragaAdmin">Pretraga voznji</a>
    &nbsp;
    <a href="/Taxi/GoToKreiranjeVozaca">Unesite vozaca</a>
    &nbsp;
    <a href="/Taxi/GoToKreiranjeVoznje">Kreirajte voznju</a>
    &nbsp;
    <a href="/Taxi/GoToProveraVoznji">Slobodne voznje</a>
    &nbsp;
    <a href="/Taxi/GoToSveVoznje">Pregled svih voznji</a>
</div>

<h2 align="center">Dobrodosli, @(((Korisnik)Session["Ulogovan"]).Ime) @(((Korisnik)Session["Ulogovan"]).Prezime)</h2>

   @if(ViewBag.broj != 0)
   {
    <table align="center" border="1">
        <caption>Prikaz voznji</caption>
        <tr>
            <th>
                Ulica
            </th>
            <th>
                Broj
            </th>
            <th>
                Vreme porudzbine
            </th>
            <th>
                Vozac
            </th>
            <th>
                Status
            </th>
        </tr>
         @foreach(KeyValuePair<string, Voznja> kv in getVoznje())
         {
             try
             {
                if(kv.Value.Dispecer.KorisnickoIme.Equals((((Korisnik)Session["Ulogovan"]).KorisnickoIme)))
                {
                    <tr>
                        <td>
                            @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Ulica
                        </td>
                        <td>
                            @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Broj
                        </td>
                        <td>
                            @kv.Key
                        </td>
                        <td>
                            @kv.Value.Vozac.KorisnickoIme
                        </td>
                        <td>
                            @kv.Value.StatusVoznje
                        </td>
                    </tr>
                }
             }
             catch
             {

             }
          }
        
    </table>
}