@using Taxi_MVC.Models
@{
    Layout = null;
}

<div>
    <a href="/Taxi/GoToHomeAdmin">Povratak na pocetnu stranicu</a>
</div>

<table border="1">
    <tr>
        <th>
            Vreme kreiranja porudzbine
        </th>
        <th>
            Adresa
        </th>
        <th>
            Ocena
        </th>
        <th>
            Komentar
        </th>
    </tr>
    @foreach(KeyValuePair<string, Voznja> kv in ViewBag.voznje)
    {
        <tr>
            <td>
                @kv.Value.DatumVremePorudzbine
            </td>
            <td>
                @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Ulica @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Broj @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Mesto @kv.Value.LokacijaDolaskaTaxi.AdresaLok.PozivniBroj
            </td>
            <td>
                @kv.Value.KomentarNaVoznje.Ocena
            </td>
            <td>
                @kv.Value.KomentarNaVoznje.Opis
            </td>
            <td>
                <form action="/Taxi/PrikaziVoznju" method="post">
                    <input type="hidden" value="@kv.Key" name="date" />
                    <input type="submit" value="Prikazi" />
                </form>
            </td>
        </tr>
    }
</table>
