@using Taxi_MVC.Models;
@{
    Layout = null;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-image:url(https://static.superiorwallpapers.com/images/lthumbs/2015-05/7926_Yellow-taxi-from-New-York-City.jpg); background-repeat: no-repeat; background-size: cover">
    <form action="/Taxi/IzmeniAdmin" metod="post">
        <table border="0" style="background-color:transparent" class="w3-text-white w3-display-left w3-large">
            <tr>
                <td>
                    Korisnicko ime
                </td>
                <td>
                    <input type="text" value="@(((Korisnik)Session["Ulogovan"]).KorisnickoIme)" name="KorisnickoIme" />
                </td>
            </tr>
            <tr>
                <td>
                    Lozinka
                </td>
                <td>
                    <input required type="password" value="@(((Korisnik)Session["Ulogovan"]).Lozinka)" name="Lozinka" />
                </td>
            </tr>
            <tr>
                <td>
                    Ime
                </td>
                <td>
                    <input type="text" value="@(((Korisnik)Session["Ulogovan"]).Ime)" name="Ime" />
                </td>
            </tr>
            <tr>
                <td>
                    Prezime
                </td>
                <td>
                    <input type="text" value="@(((Korisnik)Session["Ulogovan"]).Prezime)" name="Prezime" />
                </td>
            </tr>
            <tr>
                <td>
                    Pol
                </td>
                <td>
                    <select name="Pol">
                        @if ((((Korisnik)Session["Ulogovan"]).Pol) == EPol.MUSKI)
                        {
                            <option selected value="MUSKI">
                                Muski
                            </option>
                            <option value="ZENSKI">
                                Zenski
                            </option>
                        }
                        else
                        {
                            <option value="MUSKI">
                                Muski
                            </option>
                            <option selected value="ZENSKI">
                                Zenski
                            </option>
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input type="email" value="@(((Korisnik)Session["Ulogovan"]).Email)" name="Email" />
                </td>
            </tr>
            <tr>
                <td>
                    JMBG
                </td>
                <td>
                    <input type="number" value="@(((Korisnik)Session["Ulogovan"]).JMBG)" name="JMBG" />
                </td>
            </tr>
            <tr>
                <td>
                    Telefon
                </td>
                <td>
                    <input type="number" value="@(((Korisnik)Session["Ulogovan"]).Telefon)" name="Telefon" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    </form>
</body>
