@using Taxi_MVC.Models;
@{
    Layout = null;
}
@{ 
    var getVoznje = new Func<Dictionary<string, Voznja>>(() => (Dictionary<string, Voznja>)Session["Voznje"]);
}
    <div>
        <a href="/Taxi/GoToHome">Povratak na pocetnu stranicu</a>
    </div>
    <table border="1">
        <tr>
            <th>
                Vasa lokacija
            </th>
            <th>
                Vreme porudzbine
            </th>
            <th>
                Opcije
            </th>
        </tr>
        @foreach (KeyValuePair<string, Voznja> kv in getVoznje())
    {
        try
        {
            if (kv.Value.Musterija.KorisnickoIme.Equals((((Korisnik)Session["Ulogovan"]).KorisnickoIme)) && kv.Value.StatusVoznje == EStatus.KREIRANA)
            {
                <tr>
                    <td>
                        @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Ulica
                    </td>
                    <td>
                        @kv.Key
                    </td>
                    <td align="center">
                        <form action="/Taxi/Otkazivanje" method="post">
                            <input type="hidden" value="@kv.Key" name="date" />
                            <input type="submit" value="Otkazi" />
                        </form>
                    </td>
                    <td>
                        <form action="/Taxi/IzmeniVoznju" method="post">
                            <input type="hidden" value="@kv.Key" name="date" />
                            <input type="submit" value="Izmeni" />
                        </form>
                    </td>
                    <td>
                        <form action="/Taxi/PrikaziVoznju" method="post">
                            <input type="hidden" value="@kv.Key" name="date" />
                            <input type="submit" value="Prikazi" />
                        </form>
                    </td>
                </tr>

        }
    }
    catch
    {

    }
}
        @foreach (KeyValuePair<string, Voznja> kv in getVoznje())
        {
            try
            {
                if (kv.Value.Musterija.KorisnickoIme.Equals((((Korisnik)Session["Ulogovan"]).KorisnickoIme)) && kv.Value.StatusVoznje == EStatus.USPESNA && kv.Value.KomentarNaVoznje.Opis.IsEmpty())
                {
                <tr>
                    <td>
                        @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Ulica
                    </td>
                    <td>
                        @kv.Key
                    </td>
                    <td align="center">
                        <form action="/Taxi/OstavljanjeKomentara" method="post">
                            <input type="hidden" value="@kv.Key" name="date" />
                            <input type="submit" value="Ostavite komentar" />
                        </form>
                    </td>
                    <td>
                        <form action="/Taxi/PrikaziVoznju" method="post">
                            <input type="hidden" value="@kv.Key" name="date" />
                            <input type="submit" value="Prikazi" />
                        </form>
                    </td>
                </tr>
                }
                else if (kv.Value.Musterija.KorisnickoIme.Equals((((Korisnik)Session["Ulogovan"]).KorisnickoIme)) && kv.Value.StatusVoznje == EStatus.USPESNA && !kv.Value.KomentarNaVoznje.Opis.IsEmpty())
                {
                    <tr>
                        <td>
                            @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Ulica
                        </td>
                        <td>
                            @kv.Key
                        </td>
                        <td>
                            <form action="/Taxi/PrikaziVoznju" method="post">
                                <input type="hidden" value="@kv.Key" name="date" />
                                <input type="submit" value="Prikazi" />
                            </form>
                        </td>
                    </tr>
                }
                else if (kv.Value.Musterija.KorisnickoIme.Equals((((Korisnik)Session["Ulogovan"]).KorisnickoIme)) && !(kv.Value.StatusVoznje == EStatus.USPESNA || kv.Value.StatusVoznje == EStatus.KREIRANA))
                {
                    <tr>
                        <td>
                            @kv.Value.LokacijaDolaskaTaxi.AdresaLok.Ulica
                        </td>
                        <td>
                            @kv.Key
                        </td>
                        <td>
                            <form action="/Taxi/PrikaziVoznju" method="post">
                                <input type="hidden" value="@kv.Key" name="date" />
                                <input type="submit" value="Prikazi" />
                            </form>
                        </td>
                   </tr>
                }
            }
            catch
            {

            }
        }
    </table>


