@using Taxi_MVC.Models
@{
    Layout = null;
}

<table border="1">
    <tr>
        <td>
            Vozac
        </td>
        <td>
            @try
            {
                @ViewBag.voznja.Vozac.KorisnickoIme
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            Polazak
        </td>
    </tr>
    <tr>
        <td>
            X koordinata
        </td>
        <td>
            @ViewBag.voznja.LokacijaDolaskaTaxi.XCoord
        </td>
    </tr>
    <tr>
        <td>
            Y koordinata
        </td>
        <td>
            @ViewBag.voznja.LokacijaDolaskaTaxi.YCoord
        </td>
    </tr>
    <tr>
        <td>
            Ulica
        </td>
        <td>
            @ViewBag.voznja.LokacijaDolaskaTaxi.AdresaLok.Ulica
        </td>
    </tr>
    <tr>
        <td>
            Broj
        </td>
        <td>
            @ViewBag.voznja.LokacijaDolaskaTaxi.AdresaLok.Broj
        </td>
    </tr>
    <tr>
        <td>
            Mesto
        </td>
        <td>
            @ViewBag.voznja.LokacijaDolaskaTaxi.AdresaLok.Mesto
        </td>
    </tr>
    <tr>
        <td>
            Pozivni broj
        </td>
        <td>
            @ViewBag.voznja.LokacijaDolaskaTaxi.AdresaLok.PozivniBroj
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            Destinacija
        </td>
    </tr>
    <tr>
        <td>
            X koordinata
        </td>
        <td>
            @try
            {
                @ViewBag.voznja.Odrediste.XCoord
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Y koordinata
        </td>
        <td>
            @try
            {
                @ViewBag.voznja.Odrediste.YCoord
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Ulica
        </td>
        <td>
            @try
            {
                @ViewBag.voznja.Odrediste.AdresaLok.Ulica
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Broj
        </td>
        <td>
            @try
            {
                @ViewBag.voznja.Odrediste.AdresaLok.Broj
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Mesto
        </td>
        <td>
            @try
            {
                @ViewBag.voznja.Odrediste.AdresaLok.Mesto
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Pozivni broj
        </td>
        <td>
            @try
            {
                @ViewBag.voznja.Odrediste.AdresaLok.PozivniBroj
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Tip automobila
        </td>
        <td>
            @ViewBag.voznja.ZeljeniTipAuto
        </td>
    </tr>
    <tr>
        <td>
            Komentar ostavio
        </td>
        <td>
            @try
            {
                if(ViewBag.voznja.KomentarNaVoznje.OstavioKorisnik.KorisnickoIme != null)
                {
                    @ViewBag.voznja.KomentarNaVoznje.OstavioKorisnik.KorisnickoIme
                }
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Ocena
        </td>
        <td>
            @try
            {
                if(ViewBag.voznja.KomentarNaVoznje.Ocena != null)
                {
                    @ViewBag.voznja.KomentarNaVoznje.Ocena
                }
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Komentar
        </td>
        <td>
            @try
            {
                if(ViewBag.voznja.KomentarNaVoznje.Opis != null)
                {
                    @ViewBag.voznja.KomentarNaVoznje.Opis
                }
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Datum objave
        </td>
        <td>
            @try
            {
                if(ViewBag.voznja.KomentarNaVoznje.DatumObjave != null)
                {
                    @ViewBag.voznja.KomentarNaVoznje.DatumObjave
                }
            }
            catch { }
        </td>
    </tr>
    <tr>
        <td>
            Iznos
        </td>
        <td>
            @try
            {
                if(ViewBag.voznja.Iznos != null)
                {
                    @ViewBag.voznja.Iznos
                }
            }
            catch { }
        </td>
    </tr>
</table>

